{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}
    <title> BYU Add Game </title>
{% endblock%}
<div class="container">
    <div class="container2">
<fieldset>
    <form id="formAddRoster" method="POST">
        {% csrf_token %}
        <label for="date">Game Date and Time: </label>
        <input type="datetime-local" id="date" name="date" required>
        <br><br>
        <label for="location">Location:</label>
        <input type="text" id="location" name= "location" required>
        <br><br>
        <label for="opponent">Opponent: </label>
        <input type="text" id="opponent" name="opponent" required>
        <br><br>
        {% comment %} <label for="result">Result: </label>
        <input type="text" id="result" value="0-0" name="result" required> {% endcomment %}
        <label for="byuscore">BYU Score:</label>
        <input type="number" id="byuscore" name="byuscore" required>
        <label for="oppscore">Opponent Score:</label>
        <input type="number" id="oppscore" name="oppscore" required>
        <br><br>
        <label for="info">Info: </label>
        <textarea id="info" rows="4" cols="35" name="info"></textarea>
        <br><br>
        <button type="submit" class="btn btn-primary">Submit New Game</button>
    </form>
</fieldset>
</div>
</div>
{% endblock %}
