{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Schedule</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col" hidden>ID</th>
        <th scope="col">Date/Time</th>
        <th scope="col">Opponent</th>
        <th scope="col">Location</th>
        <th scope="col">Result</th>
        <th scope="col">Info</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for each in game %}
      <tr>
        <td>{{each.date_time}}</td>
        <td>{{each.opponent}}</td>
        <td>{{each.location}}</td>
        <td>{{each.result}}</td>
        <td>{{each.info}}</td>
        <form id="form{{each.id}}" method="POST" action="{% url 'deleteSchedule' %}">
          {% csrf_token %}
          <td hidden><input type="hidden" name="id" id="id{{each.id}}" value="{{each.id}}"></td>
          <td><button type="submit" class="btn"><img src="{% static '/img/trash2.png' %}" style="width: 40px;"></button></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>

<form action="{% url 'addSchedule' %}" method="get">
  <button type="Submit" >Add A Game</button>
</form>

<br>
<a class="btn" href="{% url 'addSchedule' %}">Add Game</a>
{% endblock %}