{% extends 'base.html' %}
{% load static %}
{% block content %}

<h1>Schedule</h1>

<table class="table">
    <thead>
      <tr>
        <th scope="col" hidden>ID</th>
        <th scope="col">Date/Time</th>
        <th scope="col">Opponent</th>
        <th scope="col">Location</th>
        <th scope="col">Result</th>
        <th scope="col">Info</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for each in game %}
      <form id="editSchedule{{each.id}}">
      <tr>
        <td id='td{{each.id}}date_time'>{{each.date_time}}</td>
        <td id='td{{each.id}}opponent'>{{each.opponent}}</td>
        <td id='td{{each.id}}location'>{{each.location}}</td>
        <td id='td{{each.id}}result'>{{each.result}}</td>
        <td id='td{{each.id}}info'>{{each.info}}</td>
        {% comment %} <form id="form{{each.id}}" method="POST" action="{% url 'editSchedule' %}">
          {% csrf_token %}
          <td hidden><input type="hidden" name="id" id="id{{each.id}}" value="{{each.id}}"></td>
          <td><button type="submit" class="btn">Edit</button></td>
        </form> {% endcomment %}
        <form id="form{{each.id}}" method="POST" action="{% url 'deleteSchedule' %}">
          {% csrf_token %}
          <td hidden><input type="hidden" name="id" id="id{{each.id}}" value="{{each.id}}"></td>
          <td><button type="submit" class="btn"><img src="{% static '/img/trash2.png' %}" style="width: 40px;"></button></td>
        </form>
        <td><button id="editbtn{{each.id}}" onclick="changeToInput('{{each.id}}')">Edit</button></td>
      </tr>
      </form>
      {% endfor %}
    </tbody>
  </table>

<form action="{% url 'addSchedule' %}" method="get">
  <button type="Submit" >Add A Game</button>
</form>
<script>
  function changeToInput(rowNum){
    date_time = document.getElementById("td" + rowNum + "date_time").innerHTML
    date_time = document.getElementById("td" + rowNum + "opponent").innerHTML
    date_time = document.getElementById("td" + rowNum + "location").innerHTML
    date_time = document.getElementById("td" + rowNum + "result").innerHTML
    date_time = document.getElementById("td" + rowNum + "info").innerHTML

    document.getElementById("td" + rowNum + "date_time").innerHTML = "<input type='datetime-local' name='date_time' value= '"+ date_time + "'>"
    document.getElementById("td" + rowNum + "opponent").innerHTML = "<input type='text' name='opponent' value= '"+ opponent + "'>"
    document.getElementById("td" + rowNum + "location").innerHTML = "<input type='text' name='location' value= '"+ location + "'>"
    document.getElementById("td" + rowNum + "result").innerHTML = "<input type='text' name='result' value= '"+ result + "'>"
    document.getElementById("td" + rowNum + "info").innerHTML = "<input type='text' name='info' value= '"+ info + "'>"
    document.getElementById("editbtn" + rowNum).innerHTML = "<button type ='submit' class='btn btn-secondary' form='editForm" + rowNum + "' >Submit</button"
  }
</script> 
<br>
<a class="btn" href="{% url 'addSchedule' %}">Add Game</a>
{% endblock %}