{% extends 'base.html' %}
{% load static %}
{% block content %}
{% block title %}
    <title> BYU Stats </title>
{% endblock%}
<link href="{% static 'css/styles.css'%}" rel='stylesheet'>
<header>
  <div style="width: 100%; text-align: center; background-color: #002E5D; color: white;">
      <h1>BYU Men's Lacrosse</h1>
      <br>
      <div style="height: 700px; overflow: hidden;">
          <img src='{% static "img/stats.jpg" %}' alt="" width="100%">
          <strong><p style="font-size: 30px; position: absolute; width: 100%; text-align: center; top: 25%; left: 50%; transform: translate(-50%, -50%);">Statistics</p></strong>
      </div>
      
  </div>
</header>
<hr>
<div class="container3">
<table class="table">
    <thead>
      <tr>
        <th scope="col">Player Number</th>
        <th scope="col">Game Opponent</th>
        <th scope="col">Ground Balls</th>
        <th scope="col">Goals</th>
        <th scope="col">Assists</th>
        <th scope="col">Points</th>
        <th scope="col">Face Offs</th>
        <th scope="col">Goals Against</th>
        <th scope="col">Saves</th>
        <th scope="col">Delete</th>
        <th scope="col">Edit</th>
      </tr>
    </thead>
    <tbody>
      {% for each in stats %}
      <tr>
        <td  id = "td{{each.id}}id">{{each.player_id.player_number}}</td>
        <td id = "td{{each.id}}game_id">{{each.game_id.opponent}}</td>
        <td id = "td{{each.id}}ground_ball">{{each.ground_ball}}</td>
        <td id = "td{{each.id}}goals">{{each.goals}}</td>
        <td id = "td{{each.id}}assists">{{each.assists}}</td>
        <td id = "td{{each.id}}points">{{each.points}}</td>
        <td id = "td{{each.id}}face_offs">{{each.face_offs}}</td>
        <td id = "td{{each.id}}goals_against">{{each.goals_against}}</td>
        <td id = "td{{each.id}}saves">{{each.saves}}</td>
        <form id="statsForm{{each.id}}" method="POST" action="{% url 'deleteStats' %}">
          {% csrf_token %}
          <td hidden><input type="hidden" name="id" id="id{{each.id}}" value="{{each.id}}"></td>
          <td><button type="submit" class="btn"><img src="{% static '/img/trash2.png' %}" style="width: 40px;"></button></td>
        </form>
        <form id="editForm{{each.id}}" method="POST" action="{% url 'editStats' %}">
          {%csrf_token%}
          <td hidden><input type="hidden" name="id" id="id{{each.id}}" value="{{each.id}}"></td>
        </form>
        <td id="editbtn{{each.id}}"><button onclick="changeToInput('{{each.id}}')" class="btn"><img src="{% static '/img/pencil.png'%}" style="width: 30px;"></button>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <script>
    function changeToInput(rownum) {
      playerid = document.getElementById("td" + rownum + "id").innerHTML 
      gb= document.getElementById("td" + rownum + "ground_ball").innerHTML 
      goals= document.getElementById("td" + rownum + "goals").innerHTML 
      assists = document.getElementById("td" + rownum + "assists").innerHTML 
      points = document.getElementById("td" + rownum + "points").innerHTML 
      fo = document.getElementById("td" + rownum + "face_offs").innerHTML 
      ga = document.getElementById("td" + rownum + "goals_against").innerHTML 
      saves = document.getElementById("td" + rownum + "saves").innerHTML 
      game_id = document.getElementById("td" + rownum + "game_id").innerHTML

      // document.getElementById("td" + rownum + "id").innerHTML = "<input type='text' name='id' value = '" + playerid +"' form='editForm" + rownum + "'>"
      document.getElementById("td" + rownum + "ground_ball").innerHTML = "<input type='number' name='ground_ball' value = '" + gb +"' form='editForm" + rownum + "' style='width: 4em'>"
      document.getElementById("td" + rownum + "goals").innerHTML = "<input type='number' name='goals' value = " + goals +" form='editForm" + rownum + "' style='width: 4em'>"
      document.getElementById("td" + rownum + "assists").innerHTML = "<input type='number' name='assists' value = "+assists+" form='editForm" + rownum + "' style='width: 4em'>"
      document.getElementById("td" + rownum + "points").innerHTML = "<input type='number' name='points' value = "+points+" form='editForm" + rownum + "' style='width: 4em'>"
      document.getElementById("td" + rownum + "face_offs").innerHTML = "<input type='number' name='face_offs' value="+fo+" form='editForm" + rownum + "' style='width: 4em'>"
      document.getElementById("td" + rownum + "goals_against").innerHTML = "<input type='number' name='goals_against' value="+ga+" form='editForm" + rownum + "' style='width: 4em'>"
      document.getElementById("td" + rownum + "saves").innerHTML = "<input type='number' name='saves' value="+saves+" form='editForm" + rownum + "' style='width: 4em'>"
      // document.getElementById("td" + rownum + "game_id").innerHTML = "<input type='text' name='game_id' value="+game_id+" form='editForm" + rownum + "'>"
      document.getElementById("editbtn" + rownum).innerHTML = "<button type='submit' class='btn' form='editForm" + rownum + "'>Submit</button>"
    }
  </script>
<br><br>
<a type="button" href="{% url 'addStats' %}" class="btn btn-primary">Add Stats</a>
</div>
</div>
{% endblock %}