{% extends 'base.html' %}
{% load static %}
{% block content %}

<table class="table">
    <thead>
      <tr>
        <th scope="col">PlayerID</th>
        <th scope="col">Ground Balls</th>
        <th scope="col">Goals</th>
        <th scope="col">Assists</th>
        <th scope="col">Points</th>
        <th scope="col">Face Offs</th>
        <th scope="col">Goals Against</th>
        <th scope="col">Saves</th>
        <th scope="col">Game ID</th>
        <th scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for each in stats %}
      <tr>
        <td>{{each.player_id_id}}</td>
        <td>{{each.ground_ball}}</td>
        <td>{{each.goals}}</td>
        <td>{{each.assists}}</td>
        <td>{{each.points}}</td>
        <td>{{each.face_offs}}</td>
        <td>{{each.goals_against}}</td>
        <td>{{each.saves}}</td>
        <td>{{each.game_id_id}}</td>
        <form id="statsForm{{each.id}}" method="POST" action="{% url 'deleteStats' %}">
          {% csrf_token %}
          <td hidden><input type="hidden" name="id" id="id{{each.id}}" value="{{each.id}}"></td>
          <td><button type="submit" class="btn"><img src="{% static '/img/trash2.png' %}" style="width: 40px;"></button></td>
        </form>
        <form id="statsForm{{each.id}}" method="POST" action="{% url 'editStats' %}">
          <td hidden><input type="hidden" name="id" id="id{{each.id}}" value="{{each.id}}"></td>
          <td><button type="submit" class="btn">Edit</button></td>
        </form>
      </tr>
      {% endfor %}
    </tbody>
  </table>
<br><br>
<a type="button" href="{% url 'addStats' %}" class="btn btn-secondary">Add Stats</a>
{% endblock %}